.side-bar{
    position: sticky;
    width: 80%;
    background-color: rgb(19, 18, 18);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    min-height: 95vh;
    border-radius: 0px 10px 10px 0px;
}

.side-bar ul{
    list-style: none;
    padding-top: 8vh;
}
.side-bar ul li{
    padding-top: 5vh;
    margin: auto;
}
.side-bar ul li:hover{
    background-color: grey;
    border: none;
    border-radius: 5px 5px;
    margin-right: 1vh;
    padding: 2vh;
    transition: 0.8s ease-out;

}
.side-bar ul li a{
    color: #fff;
    text-decoration: none;
}

.side-bar ul li fa-icon{
    padding-right: 1vh;
}
