<div class="side-bar">
    <ul>
        <li>
           <fa-icon [icon]="fahome" class="fa-1x"></fa-icon> <a>Dashboard</a>
        </li>
        <li>
            <a routerLink="client">Client</a>
        </li>
        <li>
            <a>Invoice</a>
        </li>
        <li>
            <a>Quote</a>
        </li>
        <li>
            <a>Services</a>
        </li>
        <li>
            <a>Staff</a>
        </li>
        <li>
            <a>Vehicle</a>
        </li>
        
    </ul>

</div>
