<section class="page-not-found">

    <div class="pnf-body">

        <div class="pnf-img">

            <img src="../../../assets/error-img.png" alt="pnf-error-img" srcset="">

        </div>

        <div class="pnf-content">
            <h1>404</h1>
            <h2>Resource Not Available</h2>
            <p>The page you are looking for does not exist. Click the button below
                to go back to the homepage.
              </p>
              <a class="pnf-btn" routerLink="/login">Login Page</a>
        </div>

    </div>

</section>