<app-navbar></app-navbar>
<section class="sign-box">
  <!-- Each Side of the Page -->
  <aside id="section1">
    <main>
      <h1>Login to your<br> Account</h1>
      <p class="special">Your own Digital Vehicle System!</p>
      <div class="inputs">
        <input placeholder="E-mail" type="text"/>
        <input placeholder="Password" />
        <input type="submit" value="Login into your account" />
        <span>
          <p>Not an admin? <a href="#">Sign up</a></p>
        </span>
      </div>
    </main>
  </aside>
  <!-- section 2 -->
  <aside id="section2">
    <main>
      <header>
        <span class="first-text">
          Vintage
        </span>
        <span class="second-text">
          <img src="../../../assets/icons8-gear-64.png">
          Motors
        </span>
        </header>
        <section>
          <img class="img" src="../../../assets/logo.png" />
        </section>
    </main>
  </aside>
</section>

