
<section>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    		    <div class="card profile-card-3">
    		        <div class="background-block" style="background-color: black;">
    		            <!-- <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/> -->
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="../../../../logo.png" alt="profile-image" class="profile"/>
    		        </div>
    		        <div class="card-content">
                    <h2> {{name}} <small> {{role}} </small></h2>
                    </div>
                </div>
    		</div>


    	</div>
    </div>
</section>
