<main>
  <div class="container">
  <h1>Transactions</h1>
    <button (click)="showPostField()" *ngIf="postBtnData">
      {{postBtnData}}

    </button>

</div>

<div class="invoice-form" *ngIf="postField">
  <form [formGroup]="AddNewInvoice" (ngSubmit)="onSubmit()">

    <input type="text"
              id="clientName"
              formControlName="clientName"
              placeholder="Enter Client Name"
              required>

              <input type="text"
              id="vehicleName"
              formControlName="vehicleName"
              placeholder="Enter Vehicle Name"
              required>

      <div formGroupName="billingAddress">

        

        <input type="text"
              id="repName"
              formControlName="repName"
              placeholder="Enter Rep Name"
              required>

              <input type="text"
              id="address"
              formControlName="address"
              placeholder="Enter Address"
              required>

              <input type="text"
              id="city"
              formControlName="city"
              placeholder="Enter City Name"
              required><br>

              <input type="text"
              id="postalCode"
              formControlName="postalCode"
              placeholder="Enter Postal Code"
              required><br>

              <input type="text"
              id="state"
              formControlName="state"
              placeholder="Enter State"
              required><br>

      </div>
      
      <button style="width: 30%; margin: auto; margin-bottom: 2vh;" (click)="addNewInvoiceItem()">Add Another Item</button> 
      <div formArrayName="items"  *ngFor="let itemCase of InvoiceItem.controls; let i=index">
          <h3>Item {{i+1}}</h3>


          <input type="text"
          id="text"
          [formControlName]="i"
          placeholder="Item Ordered"
          required><br>
  
  <input type="number"
          placeholder="Enter Unit"
          id="unit"
          [formControlName]="i"
          autocomplete="off"
          required><br>
    
  <input type="number"
          placeholder="Enter Rate"
          id="rate"
          [formControlName]="i"
          autocomplete="off"
          required><br>
          <button style="width: 30%; margin: auto; background-color: red; margin-bottom: 2vh;" *ngIf="i>0"  (click)="removeInvoiceItem(i)">Remove Item {{i+1}}</button> 
      </div>


      
      <button style="width: 50%; margin:auto; display: block"
              [disabled]="!AddNewInvoice.valid"
              type="submit">Create Invoice
      </button>

  </form>
</div>

  <table class="ui celled table" *ngIf="dataField">
    <thead>
      <tr>
        <th>Id</th>
        <th>Client Name</th>
        <th>Vehicle Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
  <tbody>
      <tr *ngFor="let invoice of invoiceList.payload | paginate: {itemsPerPage: 7, currentPage: p}">
          <td #code>{{invoice.id}}</td>
          <td>{{invoice.clientName}}</td>
          <td>{{invoice.vehicleName}}</td>
          <!-- <td>{{invoice.items.rate}}</td> -->
    <!-- <td *ngFor="let invoiceRate of invoice.items">{{invoiceRate.rate}}</td> -->
        <td ><button style="margin-top: 0; margin-right: 2vh; background-color: blue; border: none;" id="myBtn">View Details</button>
          <button style="margin-top: 0; background-color: red; border: none;" (click)="removeInvoice(code.innerText)">Remove</button></td>
<!-- 
          
          
      .
      0  
            <button style="margin-top: 0; background-color: red; border: none;">Remove</button></td> -->
      </tr>
  </tbody>
</table>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

<pagination-controls *ngIf="dataField" (pageChange)="p = $event"></pagination-controls>

<app-preloader></app-preloader>
