<section class="board">
  <!-- profile Component -->
  <div class="profile-board">
    <div class="board-1">
      <h1>Welcome! {{name}}</h1>
      <h3 style="color:rgb(60, 60, 60)">Vintage Motors; a vehicle auto-care management system. </h3>
    </div>
    <div class="board-2 fa-10x">
      <i class="fas fa-cog fa-spin"></i>
    </div>
  </div>
    <div class="card-box">
        <div class="client-card">
            <i class="fa fa-2x fa-user-circle" style="color:black; margin: 1.5vh ;"></i>
            Clients
            <h3>{{totalClient.payload.length}} </h3>
        </div>
        <div class="staff-card">
            <i class="fa fa-2x fa-clipboard-user" style="color:black; margin: 1.5vh ;"></i>
            Staffs
            <h3>{{totalStaff.payload.length}}</h3>
        </div>
        <div class="vehicle-card">
            <i class="fa fa-2x fa-cars" style="color: black; margin: 1.5vh ;"></i>
            Vehicles
            <h3>{{totalVehicle.payload.length}}</h3>
        </div>
        <div class="quote-card">
            <i class="fa fa-2x fa-pen" style="color: black; margin: 1.5vh ;"></i>
             Quotes
            <h3>{{totalQuote.payload.length}}</h3>
        </div>
    </div>

    <!-- table -->
    <div class="table-comp">
      <table></table>
    </div>


</section>
