<main>
  <div class="container">
  <h1>Customer's Order</h1>
    <button>
      Quote
      <i class="plus icon"></i>
    </button>
</div>
  <table class="ui celled table">
    <thead>
      <tr>
        <td>Id</td>
        <td>Items Ordered</td>
        <td>Vehicle Model</td>
        <td>Address</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of quotesList, let i=index">
        <td>{{ quote.id }}</td>
        <td>{{ quote.items.item }}</td>
        <td>{{ quote.vehicleName}}</td>
        <td>{{ quote.billingAddress.address }}</td>
      </tr>
    </tbody>
  </table>
</main>
