@import "semantic-ui-css/semantic.css";

.main {
  font-family: -apple-system, 'Open Sans',  BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  width: 100vw;
  min-height: 98vh;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

button {
  background-color: green;
  color:white;
  padding: 4px 8px;
  height:10%;
  margin-right: 5rem;
  border: 1px solid green;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 16px;
  font-size: 14px;
}
