<main>
  <div class="container">

    <h1>Customer's Order</h1>
    <button (click)="showPostField()" *ngIf="postBtnData">
      {{postBtnData}}
    </button>
  </div>

  <div class="quote-form" *ngIf="postField">
    <form [formGroup]="AddNewQuote" (ngSubmit)="addQuote()">
      <div>
        <label>Customer ID </label>
        <select name="clientId"
                formControlName="clientId"
                [(ngModel)]="clientId"
                id="clientId"
                >
          <option value="null">Choose Customer ID</option><br />
          <option *ngFor="let clientId of clientList.payload"  value={{clientId.name}} > {{clientId.id}} </option>
        </select>
      </div><br>

      <div>
        <label>Client Name </label>
        <select name="clientName"
                formControlName="clientName"
                [(ngModel)]="clientName"
                id="clientName"
                >
          <option value="null">Choose Client Name</option><br />
          <option *ngFor="let clientName of clientList.payload"  value={{clientName.name}} > {{clientName.name}} </option>
        </select>
      </div><br>

      <div>
        <label>Vehicle ID </label>
        <select name="vehicleId"
                formControlName="vehicleId"
                [(ngModel)]="vehicleId"
                id="vehicleId"
                >
          <option value="null">Choose Vehicle ID</option><br />
          <option *ngFor="let vehicleId of vehicleList.payload"  value={{vehicleId.name}} > {{vehicleId.id}} </option>
        </select>
      </div><br>

      <div>
        <label>Vehicle Name </label>
        <select name="vehicleName"
                formControlName="vehicleName"
                [(ngModel)]="vehicleName"
                id="vehicleName"
                >
          <option value="null">Choose Vehicle Name</option><br />
          <option *ngFor="let vehicleName of vehicleList.payload"  value={{vehicleName.name}} > {{vehicleName.vehicleName}} </option>
        </select>
      </div><br>

      <input type="number" id="totalAmount" [(ngModel)]="totalAmount" formControlName="totalAmount" placeholder="Total Amount"
      required><br>

      <div formArrayName="items" *ngFor="let it of items.controls; let i = index">

        <div [formGroupName]="i">
          <input type="text" id="{{'item'+ i}}" [(ngModel)]="item" formControlName="item" placeholder="Item Ordered"
            required><br>

          <input type="number" placeholder="Enter Unit" id="{{'unit' + i}}" [(ngModel)]="unit" formControlName="unit"
            autocomplete="off" required><br>

          <input type="number" placeholder="Enter Rate" id="{{'rate' + i}}" [(ngModel)]="rate" formControlName="rate"
            autocomplete="off" required><br>
          <input type="number" placeholder="Enter Amount" id="{{'amount'+ i}}" [(ngModel)]="amount"
            formControlName="amount" autocomplete="off" required><br>
        </div>
      </div>


      <button style="width: 50%; margin:auto; display: block" [disabled]="!AddNewQuote.valid" type="submit">Create
        Invoice
      </button>

    </form>
  </div>

  <table class="ui celled table" *ngIf="dataField">
    <thead>
      <tr>
        <th>Id</th>
        <th>Vehicle Name</th>
        <th>Client Name</th>
        <th>Display (Items | Unit | Rate | Amount)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of quotesList.payload | paginate: {itemsPerPage: 5, currentPage: p};">
        <td>{{ quote.id }}</td>
        <td>{{ quote.vehicleName}}</td>
        <td>{{ quote.clientName }}</td>
        <div class="quote-items" *ngFor="let itemy of quote.items; let i = index" style="border-bottom: 2vh;">
          <button class="qtn" (click)="displayQuote()">View more</button>
          <!-- <div class="quote-display" *ngIf="showQuote">
            <b>{{itemy.item}}</b> |
            <b>{{itemy.unit}}</b> |
            <b>{{itemy.rate}}</b> |
            <b>{{itemy.amount}}</b>
          </div> -->
        </div>
      </tr>
    </tbody>
  </table>
  <pagination-controls *ngIf="dataField" (pageChange)="p = $event"></pagination-controls>
</main>


<app-preloader></app-preloader>
