<main>
  <div class="container">
  <h1>Customer's Order</h1>
    <button>
      Quote
      <i class="plus icon"></i>
    </button>
</div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Vehicle Model</th>
        <th>Address</th>
        <th>Orders</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of quotesList.payload; let i=index">
        <td>{{ quote.id }}</td>
        <td>{{ quote.vehicleName}}</td>
        <td>{{ quote.billingAddress.address }}</td>
        <td *ngFor="">
          <button class="popup" (click)="onPop()">
           <i class="eye icon"></i>
          </button>
          <span *ngIf="!popUp ? true: false"
          class="popuptext">
            PopUp!
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</main>
