<main>
  <div class="client-input">
    <section class="client-input" [ngClass]="showID" *ngIf="postRow">
      <form>
        <h2>Customer Info</h2>
        <label>Name:</label>
        <input type="text" placeholder="Enter Name: "><br>
        <label>Phone:</label>
        <input type="text" placeholder="Enter telephone number: "><br><br>
      </form>
      </section>
  </div>
  <div class="container">
  <h1>Customers</h1>
    <button (click)="showPostField()" *ngIf="postBtnData">
      {{postBtnData}}

    </button>

</div>

<div class="client-form" *ngIf="postField">
  <form [formGroup]="AddNewClient" (ngSubmit)="addClient()">
      <input type="email"
              id="email"
              [(ngModel)]="email"
              formControlName="email"
              placeholder="Enter Email"
              required><br>
      <input type="text"
              placeholder="Enter Name"
              id="username"
              [(ngModel)]="name"
              formControlName="name"
              autocomplete="off"
              required><br>
      <input type="text"
              placeholder="Enter Phone Number"
              id="phone"
              [(ngModel)]="telephone"
              formControlName="phone"
              autocomplete="off"
              required><br>
      <button style="width: 50%; margin:auto; display: block"
              [disabled]="email === '' || telephone === ''|| name === ''"
              type="submit">Register Client
      </button>

  </form>
</div>

  <table class="ui celled table" *ngIf="dataField">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone(+234)</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
  <tbody>
      <tr *ngFor="let client of clientList.payload | paginate: {itemsPerPage: 7, currentPage: p}">
          <td #code>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td>{{client.telephone}}</td>
          <td ><button style="margin-top: 0; background-color: red; border: none;" (click)="removeClient(code.innerText)">Remove</button>
            <button style="margin-top: 0; background-color: green; border: none;" (click)="showID(code.innerText)">Update</button>
          </td>
      </tr>
  </tbody>
</table>

<pagination-controls *ngIf="dataField" (pageChange)="p = $event"></pagination-controls>

<app-preloader></app-preloader>
