.modules {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  margin-top: 0;
}


.main-page{
    width: 80vw;
    display: grid;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    min-height: 94vh;
    /* background-color: rgb(19, 18, 18); */
    /* grid-template-columns: 20% 80%; */
}
