
.container {
  position: absolute;
  top: 20%;
  left: 18%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  background: gray;
  height: 45%;
  width: 60%;
  border-radius: 5px;
  justify-content: space-between;
  padding: 5px;
}

button {
  background-color: red;
  color: white;
  padding: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  border: 1px solid red;
}
